version: '2'
services: 
    proxy:
        volumes: 
            - "<local-path>/dev.local.crt:/tmp/dev.local.crt"
            - "<local-path>/dev.local.key:/tmp/dev.local.key"

    keycloak:
        volumes: 
            - "<local-path>/dev.local.crt:/tmp/dev.local.crt"

    steamidp:
        environment: 
            Steam__ApplicationKey: <steam-app-key>