version: '2'
volumes:
    postgres_data:
        driver: local

services: 
    postgres:
        image: postgres
        container_name: postgres
        volumes:
          - postgres_data:/var/lib/postgresql/data
        environment:
          POSTGRES_DB: keycloak
          POSTGRES_USER: keycloak
          POSTGRES_PASSWORD: password

    keycloak:
        image: jboss/keycloak
        container_name: keycloak
        environment: 
            DB_VENDOR: POSTGRES
            DB_ADDR: postgres
            DB_DATABASE: keycloak
            DB_USER: keycloak
            DB_SCHEMA: public
            DB_PASSWORD: password
            KEYCLOAK_USER: admin 
            KEYCLOAK_PASSWORD: changeit
        ports:
            - 8080:8080
        links:
            - postgres     
    
    steamidp:
        image: neothor/steam-openid-connect-provider:develop
        build: ./src
        container_name: steamidp
        ports: 
            - 80:80            
        links:
            - keycloak