server {
    listen 443 ssl;
    ssl_certificate ${SSL_CERT};
    ssl_certificate_key ${SSL_KEY};

    proxy_set_header X-Forwarded-For $proxy_protocol_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $host;

    location / {
        return 301 https://$host/auth/realms/dev/account;
    }

    location /auth {
      proxy_pass ${KEYCLOAK_URI};
    }

    location /steam {
      proxy_pass ${STEAMIDP_URI};
    }
}